<div class="text-black-600 bg-gray-200 body-font">
    <div class="container px-5 py-5 flex justify-evenly">
        <div>
            <a class="title-font text-gray-900 hover:text-blue-700 tracking-widest text-base" href="{% url 'agents:dashboard' %}">Dashboard</a>
        </div>
        <div>
            <a class="title-font text-gray-900 hover:text-blue-700 tracking-widest text-base" href="{% url 'agents:claimed' %}">Claimed Ticket</a>
        </div>
        <div>
            <a class="title-font text-gray-900 hover:text-blue-700 tracking-widest text-base" href="{% url 'agents:unclaimed' %}">Unclaimed Ticket</a>
        </div>
    </div>
</div>