  <footer class="text-black-600 bg-gray-200 body-font fixed inset-x-0 bottom-0 border-t-2 rounded-t-xl">
    <div class="container px-5 py-5 flex justify-evenly">
        <div>
            <button class="title-font text-gray-900 hover:text-blue-700 tracking-widest text-base" onclick="about()"">About</button>
        </div>
        <div>
            <button class="title-font text-gray-900 hover:text-blue-700 tracking-widest text-base" onclick="pricing()">Pricing</button>
        </div>
        <div>
            <button class="title-font text-gray-900 hover:text-blue-700 tracking-widest text-base" onclick="support()">Support</button>
        </div>
      </div>
  </footer>